#Be careful with API KEY Information
# The following variables are enough to run the agent in local mode
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-4.1-nano-2025-04-14
LOG_LEVEL=INFO
LOG_FILE=agent.log


# Additional configuration for server mode
WEBHOOK_AUTH_TOKEN=your_webhook_auth_token
AGENTARENA_API_KEY=aa-...
DATA_DIR=./data

